.home-shop-container {
  display: flex;
  padding: 20px;
}
@media (min-width: 768px) {
  .home-shop-container {
    display: none;
  }
}

.home-heading {
  position: relative;
  display: inline;
  color: #252020;
  font-size: 20px;
  font-family: Roboto;
}
.home-heading::after {
  content: '';
  width: 2px;
  height: 20px;
  display: block;
  background-color: #bfc8cd;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.shop-heading {
  position: relative;
  right: -15px;
  color: #252020;
  font-size: 20px;
  font-family: Roboto;
}

.discover-main-heading {
  color: #252020;
  font-size: 24px;
  font-family: Roboto;
  text-align: center;
}
@media (min-width: 768px) {
  .discover-main-heading {
    font-size: 40px;
    padding-top: 10px;
  }
}
.page-discreption {
  color: #252020;
  font-size: 16px;
  font-family: Simplon Norm;
  text-align: center;
}
@media (min-width: 768px) {
  .page-discreption {
    max-width: 1100px;
    min-width: 720px;
    padding-left: 300px;
    font-size: 22px;
    padding-top: 0px;
  }
}
.products-list-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
